@tailwind base;

@tailwind components;

@tailwind utilities;

.container__modal-h {
  height: 848px;
}

.container__scaling-video {
  display: flex;
  position: fixed;
  padding-bottom: 170px;
  top: 80px;
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 80px);
  z-index: -3;
}

.filter__header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.loading__spinner {
  align-self:center;
  animation: rotation 1s linear infinite;
}

.loading__spinner:after, .loading__spinner:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0.5) translate(0, 0);
  transform: scale(0.5) translate(0, 0);
  background-color: #FFF;
  border-radius: 50%;
  -webkit-animation: animloader38 1s infinite ease-in-out;
  animation: animloader38 1s infinite ease-in-out;
}

.loading__spinner:before {
  background-color:#6F4BE1;
  -webkit-transform: scale(0.5) translate(-48px, -48px);
  transform: scale(0.5) translate(-48px, -48px);
}

.min__h-video {
  min-height: 3345px;
}

.mobile__menu {
  height: calc(100vh - 80px);
}

.ReactModal__Content {
  align-items: center;
}

.ReactModal__Overlay{
  z-index: 20
}

.slide__in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.video {
  position: relative;
  margin-top: -80px;
  width: auto;
  min-width: 1280px;
  max-height: 720px;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #c5c5c5;
  background-color: #c5c5c5;
  border-right: none;
  box-sizing: border-box;
}

@-webkit-keyframes animloader38 {
  50% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes animloader38 {
  50% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity:0;  
    visibility: hidden;
  }

  100% {
    opacity:1;  
    visibility: visible;
  }
}   

@keyframes fade-in {
  0% {
    opacity:0;
    visibility: hidden;  
  }

  100% {
    opacity:1;  
    visibility: visible;
  }
}


@-webkit-keyframes fade-out {
  0% {
    opacity:1;  
    visibility: visible;
  }

  100% {
    opacity:0;  
    visibility: hidden;  
  }
}   

@keyframes fade-out {
  0% {
    opacity:1;  
    visibility: visible;
  }

  100% {
    opacity:0;  
    visibility: hidden;  
  }
}

@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 640px){
    .container__scaling-video {
      display: flex;
      position: static;
      padding-bottom: 0;
      top: 80px;
      width: 100%;
      box-sizing: content-box;
      overflow: hidden;
      justify-content: flex-end;
      align-items: center;
      height: auto;
      z-index: 1;
    }

    .min__h-video {
      min-height: auto;
    }

    .video {
      margin-top: 0;
      min-width: 100%;
      max-height: auto;
      height: auto;
    }
  }

  @media screen and (max-height: 700px) {
    .ReactModal__Content {
      align-items: flex-start;
    }
  }